<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Admin Adds Club Team</title>
</head>
<body>
    <h1>Admin Adds Club Team</h1>
    <form action="/admin/clubteam/add" method="POST">
        <div class="row mb-3">
            <input type="hidden" name="adminid" value="{{adminid}}" />
            <input type="hidden" name="clubid" value="{{clubid}}" />
            <label for="teamname">Team Name:</label>
            <input type="text" id="teamname" name="teamname" required /> <br/>
            <label for="gradeid" class="col-sm-2 col-form-label">Team Grade</label>
            <div class="col-sm-5">
                <select name = "gradeid" class="form-select" aria-label="Default select example" id="gradeid">
                    <option value="/admin/clubteam/add?adminid={{adminid}}&clubid={{clubid}}" selected>Please select team grade</option>
                    {% for grade in graderecord %}
                        <option value="{{grade[0]}}">{{grade[1]}} fr. {{grade[2]}} to {{grade[2]}} years old</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">All Club Team</button>
        <a href="/admin?adminid={{adminid}}" class="btn btn-primary" role="button" aria-pressed="true">Cancel</a>
</body>
</html>