<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>News Add</title>
</head>
<body>
    <h1>News Add</h1>
    <!-- <p>{{clubid}}</p>
    <p>{{adminid}}</p> -->
    <form action="/admin/news/add" method="POST">
        <input type="hidden" name="clubid" value="{{clubid}}" />
        <input type="hidden" name="adminid" value="{{adminid}}" />
        <div class="form-floating">
            <textarea class="form-control" placeholder="News Header" id="newsheader" name="newsheader"></textarea>
            <label for="newsheader">News Header</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="News Byline" id="newsbyline" name="newsbyline"></textarea>
            <label for="newsbyline">News Byline</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="News Date" id="newsdate" name="newsdate"></textarea>
            <label for="newsdate">News Date (yyyy-mm-dd)</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="News" id="news" name="news"></textarea>
            <label for="news">News</label>
        </div>
        <!-- <label for="newsheader">News Header:</label>
        <input type="text" id="newsheader" name="newsheader" value="" /> <br/> -->
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

</body>
</html>