<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Admin</title>
</head>
<body>
    <h1>"{{clubrecord[1]}}" Admin</h1>
    <!-- {{adminrecord}}
    <br/>
    {{clubrecord}} -->
    <br>
    <h2><u>"{{clubrecord[1]}}" News</u></h2>
    <a class="btn btn-primary" href="/admin/news/add?clubid={{adminrecord[1]}}&adminid={{adminrecord[0]}}" role="button">Add Club News</a><br/><br/>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>News Header</th><th>Journalist</th><th>Date</th><th>Content</th>
          </th>
        </thead>
        <tbody>
            {% for newsrecord in clubnewsrecord %}
            <tr>
                <td>{{newsrecord[2]}}</td><td>{{newsrecord[3]}}</td><td>{{newsrecord[4]}}</td><td>{{newsrecord[5]}}</td>
            </tr>  
            {% endfor %}
        </tbody>
    </table>

    <br>
    <h2><u>"{{clubrecord[1]}}" Members</u></h2>
    <a class="btn btn-primary" href="/admin/member/add?adminid={{adminrecord[0]}}" role="button">Add New Member</a>
    <!-- {{memberrecord}} -->

    <table class="table table-hover">
        <thead>
          <tr>
            <th>Edit</th><th>Toggle<br />Active / Inactive</th><th>First Name</th><th>Last Name</th><th>Address 1</th><th>Address 2</th><th>City</th><th>Email</th><th>Phone</th><th>Birthdate</th>
          </th>
        </thead>
        <tbody>
            {% for member in memberrecord %}
            <tr>
              <td><a class="btn btn-success" href="/admin/member/update?adminid={{adminrecord[0]}}&memberid={{member[0]}}" role="button">Edit Member</a></td>
              {%- if member[11] -%}
                <td><a class="btn btn-danger" href="/admin/member/activate?adminid={{adminrecord[0]}}&memberid={{member[0]}}&membershipstatus={{member[11]}}" role="button">Active</a></td>
              {%- else %}
                <td><a class="btn btn-secondary" href="/admin/member/activate?adminid={{adminrecord[0]}}&memberid={{member[0]}}&membershipstatus={{member[11]}}" role="button">Inactive</a></td>
              {%- endif %} 
              
              <td>{{member[3]}}</td><td>{{member[4]}}</td><td>{{member[5]}}</td><td>{{member[6]}}</td><td>{{member[7]}}</td><td>{{member[8]}}</td><td>{{member[9]}}</td><td>{{member[10]}}</td>
            </tr>  
            {% endfor %}
        </tbody>
    </table>    

    <br>
    <h2><u>"{{clubrecord[1]}}" Teams</u></h2>
    <a class="btn btn-primary" href="/admin/clubteam/add?adminid={{adminrecord[0]}}&clubid={{adminrecord[1]}}" role="button">Add Club Team</a><br/><br/>
    
    <!-- {{teamrecord}} -->

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Team Name</th><th>Grade</th><th>Club Name</th>
        </th>
      </thead>
      <tbody>
          {% for team in teamrecord %}
          <tr>
              <td>{{team[2]}}</td><td>{{team[5]}}</td><td>{{team[9]}}</td>
          </tr>  
          {% endfor %}
      </tbody>
    </table>


    <br>
    <h2><u>Other Opposition Teams</u></h2>
    <a class="btn btn-primary" href="/admin/oppositionteam/add?adminid={{adminrecord[0]}}&clubid={{adminrecord[1]}}" role="button">Add Opposition Team</a><br/><br/>
    <!-- {{otherteamrecord}} -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Team Name</th><th>Grade</th><th>Club Name</th>
        </th>
      </thead>
      <tbody>
          {% for team in otherteamrecord %}
          <tr>
              <td>{{team[2]}}</td><td>{{team[5]}}</td><td>{{team[9]}}</td>
          </tr>  
          {% endfor %}
      </tbody>
    </table>
    
</body>
</html>