<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Admin</title>
</head>
<body>
    <h1>"{{clubrecord[1]}}" Admin</h1>
    {{adminrecord}}





    <br/>
    {{clubrecord}}
    <br>
    <h2><u>"{{clubrecord[1]}}" News</u></h2>
    <a class="btn btn-primary" href="/news/add?clubid={{adminrecord[1]}}&adminid={{adminrecord[0]}}" role="button">Add Club News</a><br/><br/>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>News Header</th><th>Journalist</th><th>Date</th><th>Content</th>
          </th>
        </thead>
        <tbody>
            {% for newsrecord in clubnewsrecord %}
            <tr>
                <td>{{newsrecord[2]}}</td><td>{{newsrecord[3]}}</td><td>{{newsrecord[4]}}</td><td>{{newsrecord[5]}}</td>
            </tr>  
            {% endfor %}
        </tbody>
    </table>

    <br>
    <h2><u>"{{clubrecord[1]}}" Members</u></h2>
    <a class="btn btn-primary" href="#" role="button">Add Member</a>
    <a class="btn btn-success" href="#" role="button">Edit Member</a><br/><br/>
    {{memberrecord}}
    <br>
    <h2><u>"{{clubrecord[1]}}" Teams</u></h2>
    {{teamrecord}}
    <br>
    <h2><u>Other Teams</u></h2>
    {{otherteamrecord}}

    
</body>
</html>