<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Login Page</title>
</head>
<body>
    <h1>Rugbuy Club Member Login</h1>
    <form action="/" method="POST">
        <div class="row mb-3">
          <label for="selectUser" class="col-sm-2 col-form-label">User Name</label>
          <div class="col-sm-5">
            <select name = "selectedmember" class="form-select" aria-label="Default select example" id="selectUser">
                <option value="None" selected>Please select your name</option>
                {% for result in membernameidlist %}
                <option value="{{result[0]}}">{{result[1]}} {{result[2]}}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <!-- <input type="submit"/> -->
      </form>



    
</body>
</html>